<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- Início -->
    <ion-tab-button tab="inicio" routerLink="/inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <!-- Busca -->
    <ion-tab-button tab="busca" routerLink="/busca">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Busca</ion-label>
    </ion-tab-button>

    <!-- Meu lar -->
    <ion-tab-button tab="meular" routerLink="/meular">
      <ion-icon name="home"></ion-icon>
      <ion-label>Meu lar</ion-label>
    </ion-tab-button>

    <!-- Mensagens -->
    <ion-tab-button tab="chat" routerLink="/chat">
      <ion-icon name="chatbubble-outline"></ion-icon>
      <ion-label>Mensagens</ion-label>
    </ion-tab-button>

    <!-- Menu -->
    <ion-tab-button tab="menu" routerLink="/menu">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
